<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:"form-signin", id:"form-registration"}) do |f| %>
  <%= devise_error_messages! %>
  <h2 class="form-signin-heading">Registrarse</h2>
  <div class="field">
    <%= f.label :email, class: "sr-only" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Correo", id:"inputEmail" %>
  </div>

  <div class="field">
    <%= f.label  :password, class: "sr-only" %>
    <% if @minimum_password_length %>
    <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control", placeholder: "Contraseña (6 caracteres mínimo)", id:"inputPassword" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, class: "sr-only" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmar contraseña", id:"inputPassword"%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Registrarse", class: "btn btn-success btn-lg btn-block" %>
  </div>
<% end %>
<br>
<div class="text-center", id="links2">
  <%= render "devise/shared/links" %>  
</div>
<br>

