<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"form-signin"}) do |f| %>
  <%= devise_error_messages! %>
  <br>
  <h2 class="form-signin-heading">Olvidaste tu contraseña?</h2>
  <div class="field">
    <%= f.label :email, class:"sr-only" %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Correo", id:"inputEmail" %>
  </div>
	<br>
  <div class="actions">
    <%= f.submit "Enviarme instrucciones", class: "btn btn-success btn-lg btn-block" %>
  </div>
<% end %>
<br>
<div class="text-center", id="links3">
	<%= render "devise/shared/links" %>
</div>
<br>

