<section id="galeria-section">
	<div class=" text-center container jumbotron">
  		<h1><span class="glyphicon glyphicon-picture"></span> Galería</h1>
  		<p>Esta es una pequeña recopilación de algunos momentos de nuestro club</p>
	</div>
	<div id="galeria" class="container">
		<div class="col-md-12">
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '1.jpg'%>"><img class="img-circle" src="<%= asset_path '1.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '2.jpg'%>"><img class="img-circle" src="<%= asset_path '2.jpg'%>" alt=""></a> 
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '3.jpg'%>"><img class="img-circle" src="<%= asset_path '3.jpg'%>" alt=""></a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '4.jpg'%>"><img class="img-circle" src="<%= asset_path '4.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '5.jpg'%>"><img class="img-circle" src="<%= asset_path '5.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '6.jpg'%>"><img class="img-circle" src="<%= asset_path '6.jpg'%>" alt=""></a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '7.jpg'%>"><img class="img-circle" src="<%= asset_path '7.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '8.jpg'%>"><img class="img-circle" src="<%= asset_path '8.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '9.jpg'%>"><img class="img-circle" src="<%= asset_path '9.jpg'%>" alt=""></a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '10.jpg'%>"><img class="img-circle" src="<%= asset_path '10.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '11.jpg'%>"><img class="img-circle" src="<%= asset_path '11.jpg'%>" alt=""></a> 
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '12.jpg'%>"><img class="img-circle" src="<%= asset_path '12.jpg'%>" alt=""></a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '13.jpg'%>"><img class="img-circle" src="<%= asset_path '13.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '14.jpg'%>"><img class="img-circle" src="<%= asset_path '14.jpg'%>" alt=""></a> 
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '15.jpg'%>"><img class="img-circle" src="<%= asset_path '15.jpg'%>" alt=""></a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '16.jpg'%>"><img class="img-circle" src="<%= asset_path '16.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '17.jpg'%>"><img class="img-circle" src="<%= asset_path '17.jpg'%>" alt=""></a> 
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '1.jpg'%>"><img class="img-circle" src="<%= asset_path '1.jpg'%>" alt=""></a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '1.jpg'%>"><img class="img-circle" src="<%= asset_path '1.jpg'%>" alt=""></a>
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '1.jpg'%>"><img class="img-circle" src="<%= asset_path '1.jpg'%>" alt=""></a> 
			</div>
			<div class="col-md-4">
				<a data-lightbox="gallery" data-title="Anderson" href="<%= asset_path '1.jpg'%>"><img class="img-circle" src="<%= asset_path '1.jpg'%>" alt=""></a>
			</div>
		</div>
	</div>
</section>